APP_NAME=CampusConnect AI
ENVIRONMENT=development
DEBUG=True
DATABASE_URL=postgresql+psycopg2://campusconnect_user:changeme@localhost:5432/campusconnect

JWT_SECRET_KEY=changeme-generate-a-random-64-char-hex-secret
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

SEED_ADMIN_EMAIL=admin@campusconnect.dev
SEED_ADMIN_PASSWORD=AdminDemo123!
SEED_TEACHER_EMAIL=enseignant@campusconnect.dev
SEED_TEACHER_PASSWORD=TeacherDemo123!
SEED_STUDENT_EMAIL=etudiant@campusconnect.dev
SEED_STUDENT_PASSWORD=StudentDemo123!
